

.logo{
    color: #DCFE50;
    left: 10px;
    position: absolute;
    padding-left: 20px;
    text-decoration: none;
}

.header{
    height: 65px;
    color: #DCFE50;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232323;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    gap: 30px;
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.list li{
    cursor: pointer;
}

button{
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    color: #1A1A1A;
    background-color: #DCFE50;
}
