

.contact{
    position: relative;
    height: 500px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact p:first-child {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #DCFE50;
}

.contact p:nth-child(2) {
    color: #FBFEEB;
    font-size: 17px;
    text-align: center;
    width: 500px;
    line-height: 26px;
}

.social {
    display: flex;
}

.end {
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    color: #DCFE50;
}